<p> ngSwitch assignment</p>
<div class="container">
<div class="row">
    <div class="col-md-4">
    <select class="form-control"(change)="getProductValue($event)">
    <option value="default">select product</option>    
    <option value="B.E">B.E</option>
    <option value="MBBS">MBBS</option>
    <option value="PHD">PHD</option>
    <option value="BPHARM">BPHARM</option>
    </select>
</div>
    <div class="col-md-12" [ngSwitch]="selectedProduct"><!--[ngSwithch case ]=""-->
        <h2 class="text-success" *ngSwitchDefault>please Select Product</h2>
       <h2 class="text-success"  *ngSwitchCase="'B.E'">B.E</h2>
       <h2 class="text-success"  *ngSwitchCase="'MBBS'">MBBS</h2>
 
       <h2 class="text-success"  *ngSwitchCase="'PHD'">PHD</h2>
       <h2 class="text-success"  *ngSwitchCase="'BPHARM'">BPHARM</h2>
 
 </div>

 </div>
 </div>
