

<div class="container">
<div class="row justify-content-center">
    <div class="col-md-6 text-left rounded shadow py-5">
    <form (ngSubmit)="OnSubmit(myform)" #myform="ngForm">
      <div ngModelGroup="userDetails" #userDetails="ngModelGroup">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="username" [(ngModel)]="username">
            <small *ngIf="username">username is:{{username}}</small>
          </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" #email="ngModel" id="email" name="email" placeholder="Enter email" ngModel>
              <small class="text-danger" *ngIf="!email.valid && email.touched">Enter vaild email</small>
            </div>
            <small class="text-danger"  *ngIf="!userDetails.valid && userDetails.touched">Enter valid user</small>
        </div>
            <div class="form-group">
        
              <label class="select Course">select Course </label>
              <select class="form-control" id="course" name="courses" [ngModel]="defaultValue" >
                <option value="Angular">Angular</option>
                <option value="Html">Html</option>
                <option value="JavaScript">JavaScript</option>

              </select>
            </div>
            <div class="form-group">
              <div *ngFor="let gender of genders" class="custom-control custom-radio">
               <input type="radio" id="{{gender.id}}" name="gender" value="{{gender.value}}" [ngModel]="defaultGender" class="custom-control-input">
               <label for="{{gender.id}}" class="custom-control-label">{{gender.value}}</label>
              </div>
              </div>

            <button type="submit"  class="btn btn-primary">Submit</button>


            <div class="row justify-content-center mt-2" *ngIf="submitted">
              <div class="col-md-6 rounded shadow py-4">
                  <h2>Form data</h2>
                  <p>Username: <strong>{{employee.username}}</strong></p>  
                  <p>Email: <strong>{{employee.email}}</strong></p>
                  <p>Course: <strong>{{employee.courses}}</strong></p>
                  <p>Gender:<strong>{{employee.gender}}</strong></p>
              </div>
       </div>
      </form>
          
    
</div>

</div>

</div>
