<p>kids works!</p>

<div class="row">
    <div class="col-md-8">
        <div class="card" >
            <img class="card-img-top" src="../../assets/images/Bag.jpg"   alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"> Stylebase</h5>
              <p class="card-text">3D empossed school bagpack for ukg</p>
              <a routerLink ="bag" class="btn btn-primary">Buy</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/images/Shoes.jpg"  alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Kats shoes</h5>
              <p class="card-text">Lace shoes kids for Girls</p>
              <a routerLink="shoes" class="btn btn-primary">Buy</a>
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" src="../../assets/images/cloth.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">cloth</h5>
              <p class="card-text">t-shirt for boys</p>
              <a routerLink="cloth" class="btn btn-primary">Buy</a>
            </div>
          </div>
          
         
        </div>
          <div class="col-md-4">
            <router-outlet></router-outlet>
          </div>
  
    </div>
  


