.header{
    background-color: burlywood;
    height: 20px;
    width:100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    

}
.nav{

    background-color: aquamarine;
}

