
<div class="row">
    <div class="col-md-8">
        <div class="card" >
            <img class="card-img-top" src="../../assets/images/tv.jpeg"   alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">TV</h5>
              <p class="card-text">Acer AR32AP2841HD 32 Inch LED HD Ready, 1366 X 768 TV</p>
              <a routerLink ="tv" class="btn btn-primary">Buy</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/images/Laptop.jpeg"  alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Laptop</h5>
              <p class="card-text">Lenovo IdeaPad 1 Celeron Dual Core - (4 GB/256 GB SSD/Windows 11 )</p>
              <a routerLink="laptop" class="btn btn-primary">Buy</a>
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" src="../../assets/images/tablet.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Tablet</h5>
              <p class="card-text">Lenovo Tab M7 Wi-Fi+4G LTE (Onyx Black, 32GB, 2GB RAM)</p>
              <a routerLink="tablet" class="btn btn-primary">Buy</a>
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" src="../../assets/images/washingmashine.jpeg"  alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Washing Mashine</h5>
              <p class="card-text">Washing machine</p>
              <a routerLink="washingmashine" class="btn btn-primary">Buy</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/images/airconditioner.jpeg" height="150px" width="200px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Airconditioner</h5>
              <p class="card-text">Whirlpool 4 in 1 Convertible Cooling 1.5 Ton 3 Star Split Inverter AC - White  (1.5T Magicool Convert Pro 3S INV (N) I/O, Copper Condenser)</p>
              <a routerLink="airconditioner" class="btn btn-primary">Buy</a>
            </div>
          </div>
        </div>
          <div class="col-md-4">
            <router-outlet></router-outlet>
            
          </div>
  
    </div>
  


