p{

    color: rgb(228, 101, 33);
    font-size: 30px;
}
.table{

    background-color: aquamarine;
    border-color: black;


}
.title{

    font-size: 25px;
    color: brown;
    background-color: blanchedalmond;
}